/* REST */
* {
  margin: 0;
  padding: 0;
}

/* TodoApp */
.todo-app {
  background-color: #4CA4D0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(#4CA4D0 0%, #E4EDE8 100%);
  padding: 2vw;
  box-sizing: border-box;
}

/* TodoInput */
.todo-input {
  height: 10vw;
  border-radius: 4px;
  overflow: hidden;
}

.todo-input input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 4vw;
  background-color: rgba(49, 99, 124, .8);
  color: #fff;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* TodoList */
.todo-list-wrapper {
  position: absolute;
  box-sizing: border-box;
  top: 14vw;
  left: 2vw;
  right: 2vw;
  bottom: 4vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.todo-list {
  
}

.todo-list .empty-row {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  top: 20%;
}

.todo-item {
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.item-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-checked {
  padding-right: 10px;
  float: left;
  display: flex;
  align-items: center;
}

.item-checked input {
  width: 16px;
  height: 16px;
}

.todo-item .item-completed {
  text-decoration: line-through;
}